@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes slideInLeft{
    from {
        transform: translateX(-1920px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes slideInRight{
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes fadeInRight {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1; 
    }
}

*,
* ::before,
* ::after {
    box-sizing: border-sub;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

body{
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 100vw;
}

.page{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(108deg, #347EFE 0%, #055FFE 100%);
}

.pattern{
    position: absolute;
    right: 0px;
    animation: slideInRight 1s ease-out;
}
.pattern img{
    display: block;
    height: 100vh;
}

.header{
    position: absolute;
    width: 100vw;
    padding: 2rem;
    left: 0px;
    animation: slideInLeft 1s ease-out;
}

.header-content{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-content img{
    max-height: 127px;
}

.header-content p{
    font-size: 4rem;
    color: white;
}
.body-container{
    width: 100vw;
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    animation: slideInRight 1s ease-out;
}
.form-container{
    height: 100vh;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-box{
    display: flex;
    flex-direction: column;
}
.input-box label{
    color: white;
    font-size: 1.5rem;
}
.input-box input,select{
    color: #055FFE;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 2rem;
    padding: 0.25rem;       
}
.file{
    width: 250px;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}
.file input[type=file]{
    color: white;
    width: 100%;
    height: fit-content;
    padding: 0;
}
.file div{
    width: 50%;
}
input::file-selector-button{
    color: #055FFE;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 45px;
}
.button{
    width: 100%;
}
.button button{
    color: #055FFE;
    background-color: white;
    font-size: 1rem;
    width: 100px;
    height: 35px;
    border: none;
    box-shadow: 10px 10px black;
}
button:hover{
    cursor: pointer;
}
.map-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle{
    width: 750px;
    height: 500px;
    background-color: black;
    border-radius: 25px;
    z-index: 1;
    overflow: hidden;
}
.map{
    width: 100%;
    height: 100%;
}
