@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes slideInLeft{
    from {
        transform: translateX(-1920px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes slideInRight{
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes fadeInLeft {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1; 
    }
}
@keyframes fadeInRight {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1; 
    }
}

*,
* ::before,
* ::after {
    box-sizing: border-sub;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

body{
    overflow: hidden;
}

.container{
    height: 150vh;
    width: 100vw;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 150vh;
    width: 100vw;
    background: linear-gradient(108deg, #347EFE 0%, #055FFE 100%);
}

.pattern{
    position: absolute;
    right: -100px;
    animation: slideInRight 1s ease-out;
}
.pattern img{
    height: 175vh;
    display: block;
}

.header{
    /* transform: translateY(100px); */
    width: 100vw;
    padding: 1rem 0 0 0;
    animation: slideInLeft 1s ease-out;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-content img{
    height: 65px;
}

.header-content p{
    font-size: 2rem;
    color: white;
}

.content{
    width: 100vw;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.report-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.report-box p{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.report-box label{
    font-size: 1rem;
    color: white;
}

.report-box input,textarea{
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: #055FFE;
    height: 1.0rem;
    padding: 0.5rem;
}

.inner-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 15rem;
}

.left-box{
    animation:fadeInLeft 1s ease-out;
}

.right-box{
    animation:fadeInRight 1s ease-out;
}

.right-box textarea{
    height: 8rem;
}

.button{
    display: flex;
    justify-content: center;
    animation:fadeInRight 1s ease-out;
}

.button button{
    border-style: none;
    color: #055FFE;
    font-size: 1.75rem;
    width: 7.5rem;
    height: 3rem;
    box-shadow: 10px 10px black;
    transition: all 0.3s ease-in-out;
}

.button button:hover{
    box-shadow: 0px 0px;
    color: white;
    background-color: #055FFE;
    border-style: solid;
    border-color: white;
}

@media (min-width: 800px){
    .page{
        height: 100vh;
    }
    .content{
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header{
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 2rem;
    }
    .header-content{
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
    }
    .header-content img{
        height: 127px;
    }
    .header-content p{
        font-size: 4rem;
    }
    .pattern{
        right: 0px;
    }
    .pattern img{
        height: 100vh;
    }
    .report-box label{
        font-size: 1.5em;
    }
    .report-box p{
        gap: 0.25rem;
    }
    .report-box input,textarea{
        height: 1.5em;
        padding: 0.5rem;
    }
    .inner-box{
        width: 35rem;
        gap: 1rem;
    }
    .button{
        justify-content: flex-end;
    }
    .button button{
        width: 10rem;
        height: 4rem;
        font-size: 2em;
    }
}